<footer class="mt-5 bg-light py-5 text-center">
{# mt-5 = margin top et bg-light = background-color: light = gris 
et py = padding vertical haut et bas a l'interieur pour avoir bcp d'espaces #}
    <p>Copyright SymBNB  C.G !</p>
</footer>