@import url('./bootstrap.min.css');
div.container,
div.container-fluid {
    margin-top: 20px;
}


/***** debut section de Ad  annonce *****/

div.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
    /* center et center se pour pour regle le centrage en horizontal et vertical de background */
    h1,
    p {
        color: white;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 5);
    }
    .btn {
        /*** button de l'annonce inviduele ****/
        margin-top: 2em;
        font-size: 1.5em;
        line-height: 1.5em;
    }
}


/***** fin section de Ad annonce *****/

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 5);
}


/**** Declaration de la photo Avatar de profil User *******/

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    &.avatar-medium {
        max-width: 64px;
        max-height: 64px;
    }
    &.avatar-mini {
        max-width: 24px;
        max-height: 24px;
    }
    &.avatar-micro {
        max-width: 20px;
        max-height: 20px;
    }
}


/**** fi de la Declaration de la photo Avatar de profil User *******/


/******* debut de calendriers de reservation avec de date qui qont ou pas disponible se affiche en rouge  **********/

.datepicker table tr td.disabled,
.datepicker table tr td.disbled:hover {
    color: firebrick !important;
}


/******* fin de calendriers de reservation avec de date qui qont ou pas disponible se affiche en rouge  **********/


/**** section les etoile de commentaire *****/

span.rating i {
    color: goldenrod;
}


/**** fin de section etoile de commentaire *****/

.alert {
    /*** ici on cible toute les alerte qui a de lien a ****/
    a {
        text-decoration: none;
    }
    .btn {
        color: white;
        /*** pour que le text soit blanc sue les button ***/
    }
}


/***  fin ici on cible toute les alerte qui a de lien a ****/