<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Mon application</title>
</head>

<body>
    <h1></h1>
    <p></p>
</body>

</html>



<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Hello {{ prenom }}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <p>Vous êtes sur mon site web</p>
    <h1>Bonjour {{prenom}} vous avez {{age}} ans</h1>

</body>

</html>


<div class="col">
    <div class="card bg-light">
        <div class="card-header">

        </div> {# fin div card-header #}
    </div> {#fin div card bg-light#}
</div> {# fin div col #}



<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
</table>