<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Mon application</title>
</head>

<body>
    <h1> ukjhgfdspoiujyhgtf</h1>
    <p>rtrytuuçoygfvokfdhjdfchjdc</p>
</body>

</html>


<div class="col">
    <div class="card bg-light">
        <div class="card-header">

        </div> {# fin div card-header #}
    </div> {#fin div card bg-light#}
</div> {# fin div col #}



<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
</table>